#sidebar {
	position: fixed;
	top: $topbar-height;
	z-index: 50;
	margin-left: -$sidebar-width;
	left: $sidebar-width;
	width: $sidebar-width;
	background-color: $bg-dark;
	height: 100%;
	overflow-x: hidden;
	overflow-y: overlay;
	white-space: nowrap;
	transition: width 0.3s;

	#sidebar-wrap {
		position: absolute;
		width: $sidebar-width;
		margin-bottom: $topbar-height;
		padding: 0;

		ul {
			padding: 0;
		}
		li {
			list-style: none;
		}
		a {
			display: block;
			width: 100%;
			color: $text-light;
			line-height: 50px;
			padding: 0 10px;
			transition: color 0.3s, background 0.3s, width 0.3s;

			&:hover {
				color: $text-white;
				transition: color 0.3s, background 0.3s, width 0.3s;
			}
		}
		svg {
			width: 30px;
			transition: margin 0.1s;
		}

		li.sidebar-item {
			display: block;
			width: 100%;

			&:not(.active) > a:hover {
				background-color: lighten($bg-dark, 3%);
			}

			&.active a {
				background-color: $bg;
				color: $text;
			}
		}
		li.sidebar-group {
			a.sidebar-group-title {
				.fa-angle-down {
					transition: transform 0.3s;
				}
			}

			li.sidebar-item {
				background-color: $bg-black;

				&:not(.active) > a:hover {
					background-color: lighten($bg-black, 3%);
				}
			}

			> a.sidebar-group-title:hover {
				background-color: lighten($bg-dark, 3%);
			}
			ul.sidebar-group-content {
				display: none;
			}

			&.expanded {
				a.sidebar-group-title {
					background-color: lighten($bg-dark, 3%);

					.fa-angle-down {
						transform: rotate(-180deg);
						transition: transform 0.3s;
					}
				}
				ul.sidebar-group-content {
					display: block;
				}
			}
		}
	}

	.smallscreen & {
		width: 50px;

		li.sidebar-item,
		li.sidebar-group {
			white-space: nowrap;
		}

		li.sidebar-item a,
		li.sidebar-group a {
			span.group-arrow {
				display: none;
			}
		}

		svg {
			margin-right: 10px;
			transition: margin 0.1s;
		}
	}
}


@media (max-width:767px) {
}

// Scrollbar
#sidebar::-webkit-scrollbar {
	display: none;
}
